nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit';
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
}

.left-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.logoBot {
    height: 4rem;
    width: 10rem;
    padding-left: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

li {
    margin: 0 2rem;
}

a {
    color: rgb(112, 200, 255);
    text-decoration: none;
    font-size: 1.2rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(112, 200, 255);
    margin: 2.5px 0;
}

.nav-menu{
    display: none;
}


@media (max-width: 600px) {
    .logoBot {
        margin: 1rem 0;
        height: 3rem;
        width: 7rem;
    }

    .menu{
        display: none;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

    .hamburger {
        display: flex;
        padding: 0 2rem;
    }

    ul {
        margin-left: 0;
        flex-direction: column;
    }

    li {
        margin: 1rem 0;
    }
}
