<nav>
    <div class="left-nav">
        <div class="logo">
            <img src="assets/botnoiImg.png" alt="" class="logoBot">
        </div>
        <div class="hamburger" (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="menu" id="myMenu" [class.active]="menuActive">
            <li><a routerLink="/main">หน้าหลัก</a></li>
            <li><a routerLink="/">logout</a></li>
            <li><a href="#">โปรไฟล์</a></li>
        </ul>
    </div>
    <ul class="nav-menu" id="myMenu" [class.active]="menuActive">
        <li><a routerLink="/main">หน้าหลัก</a></li>
        <li><a routerLink="/">logout</a></li>
        <li><a href="#">โปรไฟล์</a></li>
    </ul>
</nav>
