.head-content{
  font-family: 'Kanit';
}

.mat-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

.body-content{
  font-family: 'Kanit';
  display: flex;
  flex-direction: column;
  width: 30rem;
  max-width: 100vw;
}

.container-detailMovie p{
  margin: 0;
}

.button-container{
  margin-left: auto;
  gap: 8px;
}

.button-access{
  background-color: rgb(236, 236, 236);
  color: rgb(138, 138, 138);
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  padding: 3px 0.7rem;
  font-family: 'Kanit';
  width: 6rem;
  height: 3rem;
}

.button-access:active{
  background-color: rgb(69, 255, 150);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  padding: 3px 0.7rem;
}

.button-cancel{
  background-color: rgb(223, 223, 223);
  color: rgb(138, 138, 138);
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  padding: 3px 0.7rem;
  font-family: 'Kanit';
  width: 6rem;
  height: 3rem;
}

.button-cancel:active{
  background-color: rgb(250, 78, 78);
  color: white;
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  padding: 3px 0.7rem;
}

.checkbox-type{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.font-head{
  font-weight:bold;
}

.detail-movie {
  display: flex;
  max-height: 100px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease;
  flex-direction: row;
  gap: 5px;
}

.container-img{
  display: flex;
  justify-content: center;
}

.img-movie{
  height: 30rem;
  width: 20rem;
}

@media (max-width: 550px){
  .img-movie{
    height: 15rem;
    width: 10rem;
  }

  .container-img{
    display: flex;
    justify-content: flex-start;
  }

  .body-content{
    width: 100%;
  }

}